<section class="w-full md:w-2/3 lg:w-2/3 mx-auto flex flex-col gap-8 p-6">

  <!-- ? Create a New Post -->
  <div class="bg-white p-6 rounded-2xl shadow-md">
    <div class="mx-6">
      <input (click)="onModalOpen()" type="text" id="default-input" placeholder="What's on your mind?" readonly
        class="cursor-pointer bg-gray-50 border border-gray-200 text-gray-800 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-3 shadow-sm hover:shadow-md transition">
    </div>

    @if (isCreatePostModalOpen) {
    <app-new-post [isModalOpen]="isCreatePostModalOpen" (closeModal)="onModalClose()" (newPost)="getAllPosts()">
    </app-new-post>
    }

  </div>

  <!-- ? Post -->
  @for (post of posts(); track post._id) {
  <div
    class="post flex flex-col gap-5 bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 p-6">
    <div class="userProfile flex justify-between items-center">
      <div class="flex items-center gap-4">
        <img [src]="post.user.photo" class="w-12 h-12 rounded-full border border-gray-200 shadow-sm" alt="profile_user">
        <div>
          <h2 class="text-lg font-semibold text-gray-900"> {{post.user.name}} </h2>
          <p class="text-xs text-gray-500"> {{post.createdAt | date :'medium'}}</p>
        </div>
      </div>
    </div>

    <p class="text-gray-800 leading-relaxed">{{post.body}}</p>

    <div class="overflow-hidden rounded-xl bg-gray-50">
      <img [src]="post.image" class="w-full h-[500px] object-cover" alt="Post Image">
    </div>

    <!-- ? Show Comments Button -->
    <div class="flex justify-start">
      <button #showCommentsBtn class="text-sm text-blue-600 px-3 py-1.5 rounded-lg hover:bg-blue-50 transition-all">
        Show Comments
      </button>
    </div>

    <!-- ? Comments -->
    @defer (on interaction(showCommentsBtn)) {
    <app-comment [postId]="post._id"></app-comment>
    }

  </div>
  }

</section>