<section class="w-full md:w-2/3 lg:w-1/2 mx-auto flex flex-col gap-8 p-4">
  <!-- ? Post -->
  @for (post of posts; track post._id) {
  <div
    class="post flex flex-col gap-5 bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 p-6">
    <div class="userProfile flex justify-between items-center">
      <div class="flex items-center gap-4">
        <img [src]="post.user.photo" class="w-12 h-12 rounded-full" alt="profile_user">
        <div>
          <h2 class="text-lg font-semibold text-gray-800"> {{post.user.name}} </h2>
          <p class="text-sm text-gray-400"> {{post.createdAt}} 3 hours ago</p>
        </div>
      </div>
      <div class="relative group">
        <i class="fa-solid fa-ellipsis text-gray-500 cursor-pointer hover:text-gray-800"></i>
        <!-- Dropdown (optional) -->
        <!-- <div
          class="absolute hidden group-hover:block right-0 mt-2 bg-white border rounded-lg shadow-lg text-sm text-gray-700">
          <ul class="py-2">
            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Edit</li>
            <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Delete</li>
          </ul>
        </div> -->
      </div>
    </div>

    <p class="text-gray-700">
      {{post.body}}
    </p>

    <div class="overflow-hidden rounded-xl">
      <img [src]="post.image" class="w-full h-64 object-contain" alt="post image">
    </div>


    <!-- ? Show Comments Button -->
    <div class="flex justify-end">
      <button class="bg-blue-600 hover:bg-blue-700 text-white rounded-full px-4 py-2 text-sm shadow-md transition">
        Show Comments
      </button>
    </div>
  </div>
  }

</section>