<section class="w-full md:w-2/3 lg:w-2/3 mx-auto flex flex-col gap-8 p-4">
  <!-- ? Post -->
  @for (post of myPosts; track post._id) {
  <div
    class="post flex flex-col gap-5 bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 p-6">
    <div class="userProfile flex justify-between items-center">
      <div class="flex items-center gap-4">
        <img [src]="post.user.photo" class="w-12 h-12 rounded-full" alt="profile_user">
        <div>
          <h2 class="text-lg font-semibold text-gray-800"> {{post.user.name}} </h2>
          <p class="text-sm text-gray-400"> {{post.createdAt | date :'medium'}}</p>
        </div>
      </div>
    </div>

    <p class="text-gray-700">{{post.body}}</p>

    <div class="overflow-hidden rounded-xl">
      <img [src]="post.image" class="w-full h-64 object-contain" alt="Post Image">
    </div>

    <!-- ? Show Comments Button -->
    <div class="flex justify-start">
      <button #showCommentsBtn class="text-gray-800 px-2 py-2 text-md hover:text-blue-700 transition">
        Show Comments
      </button>
    </div>

    @defer (on interaction(showCommentsBtn)) {
    <app-comment [postId]="post._id"></app-comment>
    }

  </div>
  }
</section>